body {
  line-height: 1.7;
  color: #818181;
  font-weight: 300;
  font-size: 15px;
  background: #a8a8a8;
}

body:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

body.offcanvas-menu {
  height: 100%;
  width: 100%;
  z-index: 2;
}

body.offcanvas-menu:before {
  opacity: 1;
  visibility: visible;
}


a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #293d70; }
h7, .h7 {
	font-size: 14px;
	letter-spacing: -1px;
}

#enmirynet_safety {
	background-color: #c2c2c2;
}

#divide_compartmants {
	background-color: #ededed;
}

#menu_items {
	margin-top: -45px;
}

.border-2 {
  border-width: 2px; }

.text-black {
  color: #000 !important; }

.bg-black {
  background: #000 !important; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }

.site-wrap:before {
  display: none;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.site-block-27 ul, .site-block-27 ul li {
  padding: 0;
  margin: 0;
}

.site-block-27 ul li {
  display: inline-block;
  margin-bottom: 4px;
}

.site-block-27 ul li a, .site-block-27 ul li span {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 40%;
  border: 1px solid #ccc;
}

.site-block-27 ul li.active a, .site-block-27 ul li.active span {
  background: #21325E;
  color: #e0e0e0;
  border: 1px solid transparent;
}

.subcription-form input[type="text"] {
  color: #000 !important;
}

.subcription-form button {
  border-radius: 0px 4px 4px 0px !important;
}

